# Data
In machine learning willen we complexe patronen in **data** herkennen en produceren *zonder expliciete regels te programmeren*.  
Het soort data hangt volledig af van het specifieke probleem dat we willen oplossen.  

Voorbeeld:  
- data: [Uber Data Analytics Dashboard](https://www.kaggle.com/datasets/yashdevladdha/uber-ride-analytics-dashboard/data)
- analyse: [The Complete Uber Data Analytics Playbook](https://www.kaggle.com/code/albab12/the-complete-uber-analytics-playbook)

In [28]:
import kagglehub
import os
import pandas as pd

# Download data
path = kagglehub.dataset_download("yashdevladdha/uber-ride-analytics-dashboard")

# Load data into Pandas DataFrame
csv_file = os.path.join(path, "ncr_ride_bookings.csv")
df = pd.read_csv(csv_file)
print("âœ… Data loaded successfully!")

âœ… Data loaded successfully!

Deze dataset bestaat uit 150K **metingen** (rijen) voor 21 **variabelen** (kolommen). Denk aan een Excel sheet!  
De **unit van observatie** is een individuele taxi rit.  
Voor sommige variabelen zijn er ontbrekende (niet-geregistreerde) waarden (zogeheten **missing values**; zie `Non-Null Count < 15000`; bv. `Customer Rating`).

In [29]:
print(f"ðŸ“Š Dataset shape: {df.shape}")
print(f"ðŸ“ˆ Total rides: {len(df):,}")

# Let's see what we're working with
print("\nðŸ“‹ Column Info:")
print(f"Total columns: {len(df.columns)}")
df.info()

ðŸ“Š Dataset shape: (150000, 21)
ðŸ“ˆ Total rides: 150,000

ðŸ“‹ Column Info:
Total columns: 21
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 21 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Date                               150000 non-null  object
 1   Time                               150000 non-null  object
 2   Booking ID                         150000 non-null  object
 3   Booking Status                     150000 non-null  object
 4   Customer ID                        150000 non-null  object
 5   Vehicle Type                       150000 non-null  object
 6   Pickup Location                    150000 non-null  object
 7   Drop Location                      150000 non-null  object
 8   Avg VTAT                           139500 non-null  float64
 9   Avg CTAT                           102000 non-null  float64
 10  Cancelled Rides by Customer        10500 non-null   float64
 11  Reason for cancelling by Customer  10500 non-null   object
 12  Cancelled Rides by Driver          27000 non-null   float64
 13  Driver Cancellation Reason         27000 non-null   object
 14  Incomplete Rides                   9000 non-null    float64
 15  Incomplete Rides Reason            9000 non-null    object
 16  Booking Value                      102000 non-null  float64
 17  Ride Distance                      102000 non-null  float64
 18  Driver Ratings                     93000 non-null   float64
 19  Customer Rating                    93000 non-null   float64
 20  Payment Method                     102000 non-null  object
dtypes: float64(9), object(12)
memory usage: 24.0+ MB

Niet alle waarden zijn numeriek (bv. `Time`, `Vehicle Type`, `Pickup Location`)

In [30]:
df[["Time", "Vehicle Type", "Pickup Location", "Avg VTAT"]].head()

       Time   Vehicle Type      Pickup Location  Avg VTAT
0  12:29:38          eBike          Palam Vihar       NaN
1  18:01:39       Go Sedan        Shastri Nagar       4.9
2  08:56:10           Auto              Khandsa      13.4
3  17:17:25  Premier Sedan  Central Secretariat      13.1
4  22:08:00           Bike     Ghitorni Village       5.3